<div class="container background-signin">

  <div class="logo">
    <%= image_tag("logo_paris_impro2.jpeg", class: "logo-img") %>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>
    <div class="background-form background-new-signin background-padding-new-registration">
      <div class="form-inputs-signin">
        <%= f.input :first_name,
                    label: "Prénom",
                    error: "Prénom requis",
                    input_html: { autocomplete: "Prénom" } %>
        <%= f.input :last_name,
                    label: "Nom",
                    error: "Nom requis",
                    input_html: { autocomplete: "Nom" } %>
        <%= f.input :status,
                    as: :hidden,
                    input_html: { value: "student" } %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: "Email",
                    error: User.exists?(email: f.object.email) ? "Email déjà existant" : "Email requis",
                    input_html: { autocomplete: "Mail" }%>
        <%= f.input :password,
                    required: true,
                    label: "Mot de passe",
                    error: "Mot de passe requis",
                    hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: "Confirmation du mot de passe",
                    error: "Le mot de passe ne correspond pas",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.label :course_id, label: "Sélectionner votre cours" %>
        <%= f.collection_select(:course_id, Course.all, :id, lambda {|course| "#{course.level} - #{course.day} #{course.hour.hour}h#{course.minute if course.minute > 0} - #{course.location}"}, {include_blank: ""}, {class: resource.errors.has_key?(:course_id) ? "req" : "" })%>
        <% if resource.errors.has_key?(:course_id) %>
          <div class="text-danger required-course"><%= resource.errors[:course_id].first %></div>
        <% end %>
      </div>
    </div>
    <div class="form-action-2">
      <%= f.button :submit, "Créer un compte", class: "btn-red-signin" %>
      <%= link_to user_session_path , class: "btn-red-back-signin btn-left" do %>
        <div><i class="fa-solid fa-circle-chevron-left"></i> Retour</div>
      <% end %>
    </div>
  <% end %>
</div>
