<div class="container background">

  <div class="logo">
    <%= image_tag("logo_paris_impro2.jpeg", class: "logo-img") %>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <div class="background-form background-padding-new-registration">
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Modifier mon mot de passe", class: "btn-red btn-new-mdp" %>
      </div>
    </div>
  <% end %>

  <div class="btn-back-forgot">
    <%= link_to :back , class: "btn-red-back-forgot btn-left" do %>
      <div><i class="fa-solid fa-circle-chevron-left"></i> Retour</div>
    <% end %>
  </div>

</div>
