<div class="d-flex p-4 align-items-center justify-content-between">
  <%= link_to root_path do %>
    <%= image_tag("logo_paris_impro2.jpeg", class: "rounded-circle border border-3 border-primary", style:"width: 100px") %>
  <% end %>
  <div class="text-center">
    <h1 class="mt-3 fs-2" style="font-family: 'Outfit', sans-serif"><%= title %></h1>
    <% if current_page?('/') %>
      <div class="p-1 position-relative" style="border-radius: 20px; background-color: #ececec; width: 170px; z-index: 1">
        <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseTeachers" role="button">
          <h2 class="fs-6 my-2 text-dark"><%= @course.day %> - <%= @course.hour.strftime("%H:%M") %></h2>
        </a>
        <div class="collapse p-2 rouded-bottom" id="collapseTeachers" style="position: absolute; left: 0; width: 170px; background-color: #ececec; border-radius: 0px 0px 20px 20px; margin-top: -10px">
          <h3 class="text-dark" style="font-size: 12px">Tes professeur.e.s: <%= @course.teacher %></h3>
          <h3 class="text-dark" style="font-size: 12px"><%= @course.level %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
