<div class="container background-absence pb-100px">

  <%= render partial:'/shared/navbar', locals: {title: "Hello #{current_user.first_name}"} %>

  <div class="tableau">
    <div class="absences rectangle margin-rectangle-dashboard">
      <div class="title-rectangle"><h3 class="title-red">Tes absences</h3></div>
      <div class="absences-content">
        <% if @absences_lessons == [] %>
          <p>Pas d'absence</p>
        <% else %>
          <% @absences_lessons.each do |lesson| %>
            <p><i class="fa-solid fa-circle"></i><%= I18n.l(lesson.occurs_on, format: "%A %-d %B %kh", locale: :fr) %></p>
          <% end %>
        <% end %>
      </div>
      <% if @absences_lessons.length < 9 %>
        <%= link_to "Déclarer une absence", "/absences/new", class: "btn-red-small btn-left" %>
      <% end %>
    </div>

    <div class="rattrapages rectangle margin-rectangle-dashboard">
      <div class="title-rectangle">
        <h3 class="title-red">Tes rattrapages</h3>
        <p style="color: #666666">9 rattrapages possibles au total</p>
      </div>
      <div class="absences-content">
        <% if @rattrapages_lessons == [] %>
          <p>Pas de rattrapage</p>
        <% else %>
          <% @rattrapages_lessons.each do |lesson| %>
            <%= link_to rattrapage_show_path(Rattrapage.find_by(lesson: lesson)) do %>
              <p class="link-rattrapage"><i class="fa-solid fa-circle"></i><%= I18n.l(lesson.occurs_on, format: "%A %-d %B %kh", locale: :fr) %></p>
            <% end %>
          <% end %>
        <% end %>

        <% if @rattrapages_lessons.count < 9 && @absences_lessons.count != @rattrapages_lessons.count %>
          <div>
            <div class="alerte-rattrapages">
              <i class="fa-solid fa-triangle-exclamation alerte-icone"></i>
              <% if (@absences_lessons.count - @rattrapages_lessons.count) == 1 %>
                <p class="text-alerte-rattrapage">Tu as 1 absence pour laquelle tu n'as pas de rattrapage programmé.</p>
              <% elsif @absences_lessons.count > @rattrapages_lessons.count %>
                <p class="text-alerte-rattrapage">Tu as <%= @absences_lessons.count - @rattrapages_lessons.count %> absences pour lesquelles tu n'as pas de rattrapage programmé.</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <% if @absences_lessons.length > @rattrapages_lessons.length %>
        <%= link_to "Choisir un rattrapage", "/lessons/new", class: "btn-red-small btn-left" %>
      <% end %>
    </div>
  </div>
</div>
