<div class="bg-white container vh-100">

  <%= render partial:'/shared/navbar', locals: {title: "Hello #{current_user.first_name}"} %>

  <div>
    <div class="rectangle" style="margin: 30px 20px 50px">
      <div style="border-bottom: solid 2px #f4bbb9">
        <h3 class="text-primary fs-5" style="font-family: 'Outfit', sans-serif">Tes absences</h3>
      </div>
      <div class="pt-4 mb-3">
        <% if @absences_lessons == [] %>
          <p>Pas d'absence</p>
        <% else %>
          <% @absences_lessons.each do |lesson| %>
            <% lesson_occurs_on_minutes = I18n.l(lesson.occurs_on, format: "%A %-d %B %kh%M", locale: :fr) %>
            <% lesson_occurs_on_hour = I18n.l(lesson.occurs_on, format: "%A %-d %B %kh", locale: :fr) %>
            <% lesson_occurs_on = lesson.occurs_on.strftime("%M").to_i > 0 ? lesson_occurs_on_minutes : lesson_occurs_on_hour %>
            <p><i class="fa-solid fa-circle"></i><%= lesson_occurs_on %></p>
          <% end %>
        <% end %>
      </div>
      <% if @absences_lessons.length < 9 %>
        <%= link_to "Déclarer une absence", "/absences/new", class: "btn-red-small btn-left", data: {turbo: :false} %>
      <% end %>
    </div>

    <div class="rectangle" style="margin: 30px 20px 50px">
      <div style="border-bottom: solid 2px #f4bbb9">
        <h3 class="text-primary fs-5" style="font-family: 'Outfit', sans-serif">Tes rattrapages</h3>
        <p style="color: #666666">9 rattrapages possibles au total</p>
      </div>
      <div class="pt-4 mb-3">
        <% if @rattrapages_lessons == [] %>
          <p>Pas de rattrapage</p>
        <% else %>
          <% @rattrapages_lessons.each do |lesson| %>
            <%= link_to rattrapage_show_path(Rattrapage.find_by(lesson: lesson)) do %>
              <% lesson_occurs_on_minutes = I18n.l(lesson.occurs_on, format: "%A %-d %B %kh%M", locale: :fr) %>
              <% lesson_occurs_on_hour = I18n.l(lesson.occurs_on, format: "%A %-d %B %kh", locale: :fr) %>
              <% lesson_occurs_on = lesson.occurs_on.strftime("%M").to_i > 0 ? lesson_occurs_on_minutes : lesson_occurs_on_hour %>
              <p class="link-rattrapage"><i class="fa-solid fa-circle"></i><%= lesson_occurs_on %></p>
            <% end %>
          <% end %>
        <% end %>

        <% if @rattrapages_lessons.count < 9 && @absences_lessons.count != @rattrapages_lessons.count %>
          <div>
            <div class="alerte-rattrapages">
              <i class="fa-solid fa-triangle-exclamation alerte-icone"></i>
              <% if (@absences_lessons.count - @rattrapages_lessons.count) == 1 %>
                <p class="text-alerte-rattrapage">Tu as 1 absence pour laquelle tu n'as pas de rattrapage programmé.</p>
              <% elsif @absences_lessons.count > @rattrapages_lessons.count %>
                <p class="text-alerte-rattrapage">Tu as <%= @absences_lessons.count - @rattrapages_lessons.count %> absences pour lesquelles tu n'as pas de rattrapage programmé.</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <% if @absences_lessons.length > @rattrapages_lessons.length %>
        <%= link_to "Choisir un rattrapage", "/lessons/new", class: "btn-red-small btn-left" %>
      <% end %>
    </div>
  </div>
</div>
