<div class="container background-absence">
  <div class="hello">
    <div class="hello-img">
      <%= image_tag("logo_paris_impro2.jpeg", class: "logo-img-home") %>
    </div>
    <div class="hello-texte">
      <h1>Hello <%= @user.first_name %></h1>
      <div class="course">
        <h2>Ton cours: <%= @course.day %></h2>
        <h2><%= @course.level %></h2>
      </div>
    </div>
  </div>

  <div class="tableau">
    <div class="absences rectangle margin-rectangle-dashboard">
      <div class="title-rectangle">
        <h3 class="title-red">Tes absences</h3>
      </div>
      <div class="absences-content">
        <% if @absences_lessons == [] %>
          <p>Pas d'absence</p>
        <% else %>
          <% @absences_lessons.each do |lesson| %>
            <p><%= lesson.occurs_on %></p>
          <% end %>
        <% end %>
      </div>

      <%= link_to "Déclarer une absence", "/absences/new", class: "btn-red-small btn-left" %>
    </div>

    <div class="rattrapages rectangle margin-rectangle-dashboard">
      <div class="title-rectangle">
        <h3 class="title-red">Tes rattrapages</h3>
        <p style="color: #666666">3 rattrapages / trimestre possibles</p>
      </div>
      <div class="absences-content">
        <% if @rattrapages_lessons == [] %>
          <p>Pas de rattrapage</p>
        <% else %>
          <% @rattrapages_lessons.each do |lesson| %>
            <p><i class="fa-solid fa-circle"></i><%= lesson.occurs_on %></p>
          <% end %>
        <% end %>

        <div>
          <% if (@absences_lessons.count - @rattrapages_lessons.count) == 1 %>
            <div class="alerte-rattrapages">
              <i class="fa-solid fa-triangle-exclamation alerte-icone"></i>
              <p>Tu as 1 absence pour laquelle tu n'as pas de rattrapage programmé.</p>
            </div>
          <% elsif @absences_lessons.count > @rattrapages_lessons.count %>
            <div class="alerte-rattrapages">
              <i class="fa-solid fa-triangle-exclamation alerte-icone"></i>
              <p>Tu as <%= @absences_lessons.count - @rattrapages_lessons.count %> absences pour lesquelles tu n'as pas de rattrapage programmé. </p>
            </div>
          <% end %>
        </div>
      </div>

      <% if @absences.length > @rattrapages.length %>
        <%= link_to "Choisir un rattrapage", "/lessons/new", class: "btn-red-small btn-left" %>
      <% end %>

    </div>
  </div>
</div>
