<h1>Hello <%= @user.first_name %></h1>
<h1>Cours actuel: <%= @course.day %> <%= @course.hour.hour %>h - <%= @course.level %></h1>
<h1><%= @course.level %></h1>
<h1>Cours actuel: <%= @course.day %> <%= @course.hour.hour %>h - <%= @course.level %></h1>
<% @courses.each do |course| %>
  <% if @user.course_id == course.id %>
    <%# possibilité d'ajouter une classe sur cette ligne pour la flagger comme le cours actuel du user %>
    <p><%= course.day %> <%= course.hour.hour %>h - <%= course.level %></p>
  <% else %>
    <p><%= course.day %> <%= course.hour.hour %>h - <%= course.level %></p>
  <% end %>
<% end %>
