<div class="container background-absence-admin pb-100px">
  <%= render partial:'/shared/navbar', locals: {title: ""} %>
  <div class="courses-index">
    <h2 class="font-headers">Absences</h2>
    <h2 class="font-headers"><%= @course.day %> | <%= @course.level %></h2>
  </div>
  <div class="border-tableau"></div>

  <% @lessons.each do |lesson| %>
    <div class="tableau" data-controller="add-places">
      <div class="absences rectangles">
        <div class="title-rectangle"><h3 class="title-red" style="font-size:18px"><%= lesson_occurs_on(lesson) %></h3></div>

        <div class="absences-contents">
          <% if @absences.select { |absence| absence.lesson_id == lesson.id }.empty? %>
            <p>Pas d'absence pour ce cours</p>
          <% else %>
            <p>Absent.e.s :</p>
            <% @absences.select { |absence| absence.lesson_id == lesson.id }.each do |absence| %>
              <div class="student" data-controller="delete-modale">
                <% if current_user.status == "admin" %>
                  <div class="btn-delete-eleve margin-btn-delete" data-action="click->delete-modale#a_change">
                    <i class="icone-btn-eleve fa-solid fa-trash"></i>
                  </div>
                <% end %>
                <%= absence.user.first_name %> <%= absence.user.last_name %>
                <%= render partial:'/shared/modale_lesson', locals: {destroy_path: absence_destroy_path(absence), target: "a_modale", method: "a_change", sentence: "cette absence" } %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="rattrapages-content">
          <% if new_rattrapage_takes_place_ouverte(@rattrapages_and_places_ouvertes, @absences, lesson).empty? %>
            <p>Pas de rattrapage pour ce cours</p>
          <% else %>
          <p>En rattrapage :</p>
            <% new_rattrapage_takes_place_ouverte(@rattrapages_and_places_ouvertes, @absences, lesson).each do |item| %>
              <div class="student" data-controller="delete-modale">
                <% if current_user.status == "admin"%>
                  <div class="btn-delete-eleve margin-btn-delete" data-action="click->delete-modale#r_change"><i class="icone-btn-eleve fa-solid fa-trash"></i></div>
                <% else %>
                  <i class="fa-solid fa-circle"></i>
                <% end %>
                <% if item.class == Absence %>
                  <span>Place ouverte</span>
                  <%= render partial:'/shared/modale_lesson', locals: {destroy_path: absence_destroy_path(item), target: "r_modale", method: "r_change", sentence: "cette place ouverte" } %>
                <% else %>
                  <%= item.user.first_name %> <%= item.user.last_name %>
                  <%= render partial:'/shared/modale_lesson', locals: {destroy_path: rattrapage_destroy_path(item), target: "r_modale", method: "r_change", sentence: "ce rattrapage" } %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

        <% if current_user.status == "admin" %>
          <div class="btn-red-small btn-left"><p class="text-btn-lesson" data-action="click->add-places#change">Ouvrir une place</p></div>
          <%= render partial:'/shared/create_place', locals:{lesson: lesson} %>
        <% end %>

      </div>
    </div>
  <% end %>

  <%= link_to courses_path , class: "btn-red-back btn-left" do %>
    <div><i class="fa-solid fa-circle-chevron-left"></i> Retour</div>
  <% end %>
</div>
