<div class="container background-absence">

  <div class="hello">
    <div class="hello-img">
      <%= image_tag("logo_paris_impro2.jpeg", class: "logo-img-home") %>
    </div>
    <div class="hello-texte hello-admin">
      <h1>Hello <%= @user.first_name %></h1>
    </div>
  </div>

  <div class="courses-index">
    <h2 class="font-headers">Absences</h2>
    <h2 class="font-headers"><%= @course.day %> | <%= @course.level %></h2>
  </div>

  <div class="border-tableau"></div>

  <% @lessons.each do |lesson| %>
    <div class="tableau">
      <div class="absences rectangles">
        <div class="title-rectangle">
          <h3 class="title-red" style="font-size:16px"><%= I18n.l(lesson.occurs_on, format: "%A %-d %B %kh", locale: :fr) %></h3>
          <div data-controller="add-places">
            <button data-action="click->add-places#add">Ouvrir une place</button>
            <%# modale%>
            <div data-add-places-target="modale" class="d-none modale-conf-abs">
              <div class="sentence">Ajouter des places</div>
              <%= simple_form_for(@place, url: course_create_place_path(@course)) do |f| %>
                <%= f.input :number, label: false, input_html: { value: 0, readonly: true, data: { add_places_target: "number"} } %>
                <div data-action="click->add-places#minus">-</div>
                <div data-action="click->add-places#plus">+</div>
                <%= f.input :lesson_id, as: :hidden, input_html: {value: lesson.id}%>
                <%= f.button :submit, 'Valider' %>
              <% end %>
              <button data-action="click->add-places#cancel" class="btn btn-red-modal">Annuler</button>
            </div>
          </div>
        </div>

        <div class="absences-contents">
          <% @absences_lesson = [] %>
          <% @absences.each do |absence| %>
            <% if absence.lesson_id == lesson.id %>
              <% @absences_lesson << absence %>
            <% end %>
          <% end %>
          <% if @absences_lesson == [] %>
            <p>Pas d'absence pour ce cours</p>
          <% else %>
            <p>Absent.e.s :</p>
            <% @absences_lesson.each do |absence| %>
            <div class="student" data-controller="delete-abs">
              <button data-action="click->delete-abs#modal">poubelle</button>
              <i class="fa-solid fa-circle"></i> <%= absence.user.first_name %> <%= absence.user.last_name %>
              <%# modale%>
              <div data-delete-abs-target="modale" class="d-none modale-conf-abs">
                <div class="sentence">Êtes-tu sûr.e de vouloir supprimer cette absence ?</div>
                <%= link_to "oui", absence_destroy_path(absence), data: {turbo_method: :delete} %>
                <button data-action="click->delete-abs#cancel" class="btn btn-red-modal">Non</button>
              </div>
              <%# %>
            </div>
            <% end %>
          <% end %>
          </div>

        <div class="rattrapages-content">
            <% @rattrapages_lesson = [] %>
          <% @rattrapages.each do |rattrapage| %>
            <% if rattrapage.lesson_id == lesson.id %>
              <% @rattrapages_lesson << rattrapage %>
            <% end %>
          <% end %>
          <% if @rattrapages_lesson == [] %>
            <p>Pas de rattrapage pour ce cours</p>
          <% else %>
          <p>En rattrapage :</p>
            <% @rattrapages_lesson.each do |rattrapage| %>
            <div class="students" data-controller="delete-abs">
              <button data-action="click->delete-abs#modal2">poubelle</button>
              <i class="fa-solid fa-circle"></i> <%= rattrapage.user.first_name %> <%= rattrapage.user.last_name %>
              <%# modale%>
              <div data-delete-abs-target="modale2" class="d-none modale-conf-abs">
                <div class="sentence">Êtes-tu sûr.e de vouloir supprimer cette absence ?</div>
                <%= link_to "oui", rattrapage_destroy_path(rattrapage), data: {turbo_method: :delete, action:"click->delete-abs#cancel2"} %>
                <button data-action="click->delete-abs#cancel2" class="btn btn-red-modal">Non</button>
              </div>
              <%# %>
           </div>
            <% end %>
          <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </div>

  <%= link_to courses_path , class: "btn-red-back btn-left" do %>
    <div><i class="fa-solid fa-circle-chevron-left"></i> Retour</div>
  <% end %>

</div>
