<div class="bg-light vh-100">

  <div class="d-flex justify-content-center p-4">
    <%= image_tag("logo_paris_impro2.jpeg", class: "rounded-circle border border-2 border-primary", style:"width: 140px;") %>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <div class="bg-white m-3 p-4" style="border-radius: 30px">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    label: "Email",
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    label: "Mot de passe",
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
    </div>

  <div style="margin-top: -40px">
    <%= f.button :submit, "Se connecter", class: "btn-red mx-auto", style:"outline: none; box-shadow: none" %>
  <% end %>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Créer un compte", new_registration_path(resource_name), class: "btn-red mx-auto" %>
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class: "btn-red mx-auto" %>
    <% end %>
  </div>
</div>
