<h1>Hello <%= @user.first_name %></h1>
<h2>Liste des cours</h2>

<% @courses.each do |course| %>
  <p><%= course.day %> - <%= course.level %> - <%=  course.location %></p>
  <p><%= link_to "Absences", course_absences_path(course) %></p>
<% end %>
