<h1>Informations</h1>

<div data-controller="rattrapage">

  <% @rattrapage_lessons.each do |lesson| %>
    <p><%= lesson.occurs_on.strftime('%A %d %B') %> | <%= lesson.occurs_on.hour %>h</p>
    <%= simple_form_for(@lesson, url: rattrapages_path, html: {data: {rattrapage_target: 'form'}}) do |f| %>
      <%= f.input :occurs_on, as: :string, label: false, input_html: { class: 'd-none', value: lesson.occurs_on, data: { rattrapage_target: 'input'}} %>
      <%= f.button :button, 'Choisir ce rattrapage', data: { action: 'click->rattrapage#confirm' }  %>
      <%= f.button :submit, 'Choisir ce rattrapage', class: 'd-none' %>
    <% end %>
  <% end %>

  <!-- Modale de confirmation -->
  <div data-rattrapage-target="modal" class="d-none">
    <p data-rattrapage-target="sentence"></p>
    <p>Après avoir confirmé ton rattrapage, celle-ci sera définitive.</p>
    <button data-action="click->rattrapage#submit">Oui</button>
    <button data-action="click->rattrapage#cancel">Non</button>
  </div>

</div>
