<div class="container background-rattrapage-index pb-100px">

  <div class="hello">
      <div class="hello-img">
        <%= image_tag("logo_paris_impro2.jpeg", class: "logo-img-home") %>
      </div>
      <div class="hello-texte hello-admin">
        <h1>Informations</h1>
      </div>
  </div>

  <div class="text-index-rattrapage">
    <h2>Sélectionne ton rattrapage sur les disponibilités ci-dessous</h2>
  </div>


  <div>

    <% @rattrapage_lessons.each do |lesson| %>

      <div class="tab-show-rattrapage" data-controller="rattrapage" data-rattrapage-date-value="<%= lesson.occurs_on.strftime("%M").to_i > 0 ? I18n.l(lesson.occurs_on, format: "%A %-d %B %kh%M", locale: :fr) : I18n.l(lesson.occurs_on, format: "%A %-d %B %kh", locale: :fr) %>">

        <div class="title-rectangle title-red">
          <h3 class="title-red">
            <% if lesson.occurs_on.strftime("%M").to_i > 0 %>
              <%= I18n.l(lesson.occurs_on, format: "%A %-d %B %kh%M", locale: :fr) %>
            <% else %>
              <%= I18n.l(lesson.occurs_on, format: "%A %-d %B %kh", locale: :fr) %>
            <% end %>
          </h3>
        </div>

        <div class="content-show-rattrapage">
          <p><i class="fa-solid fa-circle"></i><%= Course.find(lesson.course_id).level %></p>
          <p><i class="fa-solid fa-circle"></i><%= Course.find(lesson.course_id).location %></p>
          <% if Course.find(lesson.course_id).id == 21 %>
            <p><i class="fa-solid fa-circle"></i><%= "Studios 27, 27 rue de Chabrol 75010" %></p>
          <% else %>
            <p><i class="fa-solid fa-circle"></i><%= Course.find(lesson.course_id).info %></p>
          <% end %>
          <p><i class="fa-solid fa-circle"></i><%= Course.find(lesson.course_id).teacher %></p>
        </div>

        <%= simple_form_for(@lesson, url: rattrapages_path, html: {class: 'btn-red-small btn-left', data: {rattrapage_target: 'form'}}) do |f| %>
          <%= f.input :occurs_on, as: :string, label: false, input_html: { class: 'd-none', value: lesson.occurs_on, data: { rattrapage_target: 'input'}} %>
          <%= f.input :course_id, as: :hidden, input_html: {value: lesson.course_id}%>
          <%= f.button :button, 'Choisir ce rattrapage', class: 'btn-red-small btn-left-rattrapage', data: { action: 'click->rattrapage#confirm' } %>
          <%= f.button :submit, 'Choisir ce rattrapage', class: 'd-none' %>
        <% end %>

        <!-- Modale de confirmation -->
        <div class="d-none blur-modale" data-rattrapage-target="modal">
          <div class="modale-conf-rattrapage">
            <div class="sentence" data-rattrapage-target="sentence">
            </div>
              <div class="alerte-rattrapages-select">
                <i class="fa-solid fa-triangle-exclamation alerte-icone"></i>
                <p class="text-alerte-rattrapage">Après avoir confirmé ton rattrapage, celui-ci sera définitif</p>
              </div>
            <button data-action="click->rattrapage#submit" class="btn btn-red-modal">Oui</button>
            <button data-action="click->rattrapage#cancel" class="btn btn-red-modal">Non</button>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
