<div class="container background-rattrapage-index">

  <div class="hello">
      <div class="hello-img">
        <%= image_tag("logo_paris_impro2.jpeg", class: "logo-img-home") %>
      </div>
      <div class="hello-texte hello-admin">
        <h1>Informations</h1>
      </div>
  </div>

  <div class="text-index-rattrapage">
    <h2>Sélectionne ton rattrapage sur les disponibilités ci-dessous</h2>
  </div>


  <div data-controller="rattrapage">

    <% @rattrapage_lessons.each do |lesson| %>

      <div class="tab-show-rattrapage">

        <div class="title-rectangle title-red">
          <h3 class="title-red">
            <%= I18n.l(lesson.occurs_on, format: "%A %-d %B %kh", locale: :fr) %>
          </h3>
        </div>

        <div class="content-show-rattrapage">
          <p>
            <i class="fa-solid fa-circle"></i><%= Course.find(lesson.course_id).location %>
          </p>
        </div>

        <%= simple_form_for(@lesson, url: rattrapages_path, html: {class: 'btn-red-small btn-left', data: {rattrapage_target: 'form'}}) do |f| %>
          <%= f.input :occurs_on, as: :string, label: false, input_html: { class: 'd-none', value: lesson.occurs_on, data: { rattrapage_target: 'input'}} %>
          <%= f.button :button, 'Choisir ce rattrapage', class: 'btn-red-small btn-left-rattrapage', data: { action: 'click->rattrapage#confirm' } %>
          <%= f.button :submit, 'Choisir ce rattrapage', class: 'd-none' %>
        <% end %>

      </div>
    <% end %>
    <!-- Modale de confirmation -->
    <div data-rattrapage-target="modal" class="d-none modale-conf-rattrapage">
      <div class="sentence" data-rattrapage-target="sentence"></div>
        <div class="alerte-rattrapages-select">
          <i class="fa-solid fa-triangle-exclamation alerte-icone"></i>
          <p class="text-alerte-rattrapage">Après avoir confirmé ton rattrapage, celui-ci sera définitif</p>
        </div>
      <button data-action="click->rattrapage#submit" class="btn btn-red-modal">Oui</button>
      <button data-action="click->rattrapage#cancel" class="btn btn-red-modal">Non</button>
    </div>

  </div>
</div>
