<div class="container background-rattrapage-index pb-100px">

  <%= render partial:'/shared/navbar', locals: {title: "Informations"} %>

  <div class="text-index-rattrapage"><h2>Sélectionne ton rattrapage sur les disponibilités ci-dessous</h2></div>

  <div>
    <% @rattrapage_lessons.each do |lesson| %>

      <%= render partial:'/shared/details', locals: {lesson: lesson} %>

      <%= simple_form_for(@lesson, url: rattrapages_path, html: {class: 'btn-red-small btn-left', data: {confirmation_target: 'form'}}) do |f| %>
        <%= f.input :occurs_on, as: :string, label: false, input_html: { class: 'd-none', value: lesson.occurs_on, data: { confirmation_target: 'input'}} %>
        <%= f.input :course_id, as: :hidden, input_html: {value: lesson.course_id}%>
        <%= f.button :button, 'Choisir ce rattrapage', class: 'btn-red-small btn-left-rattrapage', data: { action: 'click->confirmation#confirmRattrapage' } %>
      <% end %>

      <%= render partial:'/shared/modale_absence_rattrapage', locals: {sentence: "Après avoir confirmé ton rattrapage, celui-ci sera définitif"} %>

      </div>

    <% end %>

  </div>
</div>
