<div class="container show-rattrapage-detail">

  <div class="hello">
    <div class="hello-img">
      <%= image_tag("logo_paris_impro2.jpeg", class: "logo-img-home") %>
    </div>
    <div class="hello-texte hello-admin">
      <h1>Informations</h1>
    </div>
  </div>

  <div class="text-index-rattrapage-detail">
    <h2>Voici les informations pour te rendre à ton cours de rattrapage.</h2>
  </div>


  <div class="tab-show-rattrapage-detail">

    <div class="title-rectangle title-red">
      <h3 class="title-red">
        <%= I18n.l(@lesson.occurs_on, format: "%A %-d %B %kh", locale: :fr) %>
      </h3>
    </div>

    <div class="content-show-rattrapage-detail">
      <p><i class="fa-solid fa-circle"></i><%= Course.find(@lesson.course_id).level %></p>
      <p><i class="fa-solid fa-circle"></i><%= Course.find(@lesson.course_id).location %></p>
      <p><i class="fa-solid fa-circle"></i><%= Course.find(@lesson.course_id).info %></p>
    </div>

  </div>
  <%= link_to "Retour", root_path, class:'btn-red-small-rattrapage-detail btn-left-rattrapage-detail' %>

</div>
