<h1>Déclarer une absence</h1>
<h2>Quel jour seras-tu absent.e ?</h2>

<%= simple_form_for @absence do |f| %>
  <%= f.input :lesson_id %>
  <% raise %>
  <%# , collection: Lesson.where(course_id: current_user.course_id).map {|lesson| lesson.occurs_on} %>
  <%= f.submit %>
<% end %>

<%# <%= simple_form_for [@lesson, @absence] do |f| %>
  <%# <%= f.association :lesson do |c| %>
    <%# <%= c.input :occurs_on, collection: Lesson.where(course_id: current_user.course_id).map {|lesson| lesson.occurs_on}  %>
  <%# <% end %>
  <%# <%= f.submit %>
<%# <% end %>

<%# <%= simple_form_for [@lesson, @absence], html: {data: {controller: 'flatpickr'}} do |f| %>
  <%# <%= f.input :occurs_on, as: :string, label: false, input_html: {class: 'd-none', data: {flatpickr_target: 'startDateInput'}} %>
  <%# <%= f.input :occurs_on, as: :string, label: false, input_html: {class: 'd-none', data: {flatpickr_target: 'endDateInput'}} %>
  <%# <%= f.submit 'Valider', class:  'btn btn-primary' %>
<%# <% end %>
