<div class="container background-absence-decla">

  <div class="hello">
      <div class="hello-img">
        <%= image_tag("logo_paris_impro2.jpeg", class: "logo-img-home") %>
      </div>
      <div class="absence-decla-texte">
        <h1>Déclarer une absence</h1>
      </div>
  </div>

  <div class="absence-jour">
    <h2>Quel jour seras-tu absent.e ?</h2>
  </div>

  <div class="calendar-abs" data-controller="confirmation">

    <%= simple_form_for(@lesson, url: absences_path, html: {data: {controller: 'flatpickr', confirmation_target: 'form'}}) do |f| %>
      <%= f.input :occurs_on, as: :string, label: false, input_html: { class: 'd-none', data: { flatpickr_target: 'arraydata', flatpickr_available_dates_string: @available_dates_string, confirmation_target: 'input', action: 'change->confirmation#validate' } } %>
      <%= f.button :button, 'Valider', class: 'btn btn-red btn-valid-abs', data: { action: 'click->confirmation#confirm', confirmation_target: "button" } %>
      <%= f.button :submit, 'Valider', class: 'd-none' %>
    <% end %>

    <!-- Modale de confirmation -->

      <div data-confirmation-target="modal" class="d-none modale-conf-abs">
        <div class="sentence" data-confirmation-target="sentence"></div>
          <div class="alerte-rattrapages-select">
            <i class="fa-solid fa-triangle-exclamation alerte-icone"></i>
            <p class="text-alerte-rattrapage">Après avoir confirmé ton absence, celle-ci sera définitive</p>
          </div>
        <button data-action="click->confirmation#submit" class="btn btn-red-modal">Oui</button>
        <button data-action="click->confirmation#cancel" class="btn btn-red-modal">Non</button>
      </div>

  </div>
</div>
