<!DOCTYPE html>
<html>
  <head>
    <title>ParisImproApplication</title>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
    <% if user_signed_in? %>
      <%= render "shared/footer" %>
    <% else %>
    <% end  %>
  </body>
</html>
